:root {
  --color-bg: #f5f6f8;
  --color-text: #111827;
  --color-primary: #2170de;
  --color-primary-dark: #11438a;
  --color-primary-light: #4592ff;
  --color-secondary: #de8f21;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-secondary: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

/********************************* ^global*/

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0rem 2rem;
  background-color: var(--color-primary-dark);
  color: var(--color-bg);
  font-weight: bold;
  font-size: 18px;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.header-nav li {
  display: flex;
  flex: 1;
}

.header-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-align: center;
}

.header-nav a:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

@media (min-width: 769px) {
  .header-nav li:not(:last-child) {
    border-right: 1px solid var(--color-bg);
  }

  .header-nav a {
    height: 64px;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  .header h1 {
    font-size: 24px;
    justify-self: center;
  }

  .header-nav ul {
    flex-direction: column;
    margin: 0;
  }

  .header-nav li:not(:last-child) {
    border-bottom: 1px solid var(--color-bg);
  }

  .header-nav a {
    height: 40px;
  }

  .header p {
    justify-self: center;
    font-size: 14px;
  }
}

/* ******************************** ^header*/
