#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xxx-large;
  background-color: rgb(157, 196, 157);
  margin: 0%;
  padding: 1rem;
}

#login-user-message {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  padding: 4px 6px;
  margin: 0;
}

#nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(157, 196, 157);
  padding: 10px 0;
  margin: 10px 0;
}

.nav-bar-item {
  border: 1px solid black;
}

.nav-bar-link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#all-articles-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  padding: 2rem;
}

.article-details {
  list-style-type: none;
  padding-left: 0;
}

.article-list-items {
  border: solid 1px red;
}

img {
  max-width: 100%;
  height: auto;
}

#post-comment-box {
  field-sizing: content;
}

#post-comment-text-area {
  inline-size: 100%;
  min-block-size: 1rem;
}

.topic-list-items {
  border: solid 1px red;
}
