:root {
  --color-bg: #f5f6f8;
  --color-text: #111827;
  --color-primary: #2170de;
  --color-primary-dark: #11438a;
  --color-secondary: #de8f21;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-secondary: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border-color: red;
  text-decoration: none;
}

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-text);
}

/**********************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid;
}

.header h1 {
  padding: 1rem;
}

.header-nav ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header-nav ul li {
  padding: 1.5rem 1rem;
}

/**********************************/
