#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

#all-articles-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article-details {
  list-style-type: none;
  padding-left: 0;
}

.article-list-items {
  border: solid 1px red;
}

img {
  max-width: 100%;
  height: auto;
}
