:root {
  --color-bg: #f5f6f8;
  --color-text: #111827;
  --color-primary: #2170de;
  --color-primary-dark: #11438a;
  --color-primary-light: #4592ff;
  --color-secondary: #de8f21;

  --font-primary: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background: var(--color-bg);
  color: var(--color-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button,
select {
  cursor: pointer;
}

/********************************* ^global*/

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0rem 2rem;
  background-color: var(--color-primary-dark);
  color: var(--color-bg);
  font-weight: bold;
  font-size: 18px;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 2rem;
  padding: 0;
}

.header-nav li {
  display: flex;
  flex: 1;
}

.header-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-align: center;
}

.header-nav a:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

@media (min-width: 769px) {
  .header-nav li:not(:last-child) {
    border-right: 1px solid var(--color-bg);
  }

  .header-nav a {
    height: 64px;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
  }

  .header h1 {
    font-size: 24px;
    justify-self: center;
  }

  .header-nav ul {
    flex-direction: column;
    margin: 0;
  }

  .header-nav li:not(:last-child) {
    border-bottom: 1px solid var(--color-bg);
  }

  .header-nav a {
    height: 40px;
  }

  .header p {
    justify-self: center;
    font-size: 14px;
  }
}

/* ******************************** ^header*/

.articles {
  display: grid;
  grid-template-rows: auto auto;
}

.articles div {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.articles h2 {
  padding-right: 1rem;
  color: var(--color-primary-dark);
  text-align: end;
  font-size: 32px;
}

.articles section {
  padding-left: 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--color-primary-dark);
}

@media (max-width: 650px) {
  .articles div {
    grid-template-columns: 1fr;
    padding-top: 1.5rem;
    row-gap: 0.75rem;
  }

  .articles h2 {
    padding: 0;
    text-align: center;
    font-size: 24px;
  }

  .articles section {
    padding: 0;
    align-items: center;
    text-align: center;
  }

  #sort-dropdown {
    margin-left: 17px;
  }
}

.articles select {
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.25rem;
  min-width: 150px;
  border: solid 2px var(--color-primary-dark);
  font-size: 16px;
  color: var(--color-primary-dark);
}

#article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem 2rem;
}

@media (max-width: 768px) {
  #article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  #article-list {
    grid-template-columns: 1fr;
  }
}

.article-list-item {
  margin: 1rem;
}

.article-list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 2px var(--color-primary-dark);
  border-radius: 5px;
  background-color: var(--color-primary);
  text-align: center;
}

.article-list-link:hover {
  background-color: var(--color-secondary);
}

.article-list-link h3 {
  color: var(--color-bg);
  margin: 1rem;
}

.article-list-link img {
  max-width: 90%;
  border-radius: 8px;
}

.article-list-link:hover h3 {
  color: var(--color-text);
}

.article-list-link ul {
  padding: 1rem;
  color: var(--color-bg);
  font-weight: 600;
}

.article-list-link:hover ul {
  color: var(--color-text);
}

/* ******************************** ^all articles and filtered articles*/

.indiv-article {
  display: flex;
  flex-direction: column;
}

.indiv-article button {
  border-radius: 5px;
  border: solid 2px var(--color-primary-dark);
  font-size: 16px;
  color: var(--color-bg);
  background-color: var(--color-primary);
}

.indiv-article nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.indiv-article a {
  margin: 1rem;
}

.indiv-article nav button {
  padding: 0.5rem;
  min-width: 131px;
}

.indiv-article nav button:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

#previous-article {
  grid-column: 1;
  justify-self: start;
}

#next-article {
  grid-column: 2;
  justify-self: end;
}

.indiv-article h2 {
  font-size: 32px;
  color: var(--color-primary-dark);
  margin: 0.5rem 2rem 1rem;
  text-align: center;
}

@media (max-width: 650px) {
  .indiv-article h2 {
    font-size: 24px;
  }
}

.indiv-article img {
  max-width: 75%;
  align-self: center;
  border: solid 2px var(--color-primary-dark);
  border-radius: 5px;
  margin: 0.5rem 0 2rem;
}

.indiv-article div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0 2rem;
  padding: 0.5rem;
  border: 2px solid var(--color-primary-dark);
  border-radius: 8px 8px 0 0;
  background-color: var(--color-primary);
}

.indiv-article div ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 1rem;
}

.indiv-article div li {
  color: var(--color-bg);
  font-weight: 600;
}

.voting-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  padding-right: 1rem;
}

.voting-buttons button {
  min-width: 100px;
  padding: 0.25rem;
}

.voting-buttons button:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

@media (max-width: 650px) {
  .indiv-article div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .indiv-article div ul {
    padding: 0.5rem 1rem;
  }

  .voting-buttons {
    padding: 0.5rem 0;
  }
}

#indiv-article-body {
  margin: 0 2rem 1rem;
  border: 2px solid var(--color-primary-dark);
  border-radius: 0 0 8px 8px;
  border-top: none;
  padding: 1rem;
  color: var(--color-primary-dark);
}

.comment-section {
  margin: 0 2rem 1rem;
  color: var(--color-primary-dark);
}

#post-comment-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary-dark);
  border-radius: 8px 8px 0 0;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-bg);
  font-weight: 600;
}

@media (max-width: 650px) {
  #post-comment-box {
    display: flex;
    flex-direction: column;
  }

  #post-comment-box button {
    margin-bottom: 0.5rem;
  }

  #post-comment-box textarea {
    align-self: center;
  }
}

#post-comment-box section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

#post-comment-box button {
  width: 100px;
  padding: 0.25rem;
}

#post-comment-box button:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

#post-comment-box textarea {
  border-radius: 5px;
  width: 95%;
  height: 4rem;
  resize: none;
  overflow-y: auto;
  padding: 0.5rem;
  justify-self: end;
  font-family: inherit;
  font-size: 16px;
  color: var(--color-primary-dark);
}

#post-comment-box textarea:focus {
  outline: none;
}

#comments-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--color-primary-dark);
  border-top: none;
  border-radius: 0 0 8px 8px;
  color: var(--color-primary-dark);
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.indiv-comment {
  border-left: 4px solid var(--color-primary-dark);
  border-radius: 4px;
  padding: 1rem;
  margin: 0.75rem 2rem;
}

.indiv-comment:hover {
  border-color: var(--color-secondary);
}

.indiv-comment ul {
  margin-top: 1rem;
}

.indiv-comment button {
  width: 100px;
  padding: 0.25rem;
  margin-top: 1rem;
}

.indiv-comment button:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

/* ******************************** ^indiv articles*/

.topics-list h2 {
  font-size: 32px;
  color: var(--color-primary-dark);
  text-align: center;
  padding-top: 2.5rem;
}

@media (max-width: 650px) {
  .topics-list h2 {
    font-size: 24px;
  }
}

.topics-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 2rem 2rem;
}

@media (max-width: 750px) {
  .topics-list ul {
    grid-template-columns: 1fr;
  }
}

.topics-list li {
  margin: 1rem;
}

.topics-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 2px var(--color-primary-dark);
  border-radius: 5px;
  background-color: var(--color-primary);
  text-align: center;
  color: var(--color-bg);
}

.topics-list a:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.topics-list h3 {
  margin: 1rem;
}

.topics-list img {
  max-width: 80%;
  border-radius: 8px;
}

.topics-list h4 {
  padding: 1rem;
}

/* ******************************** ^list of topics*/

@media (min-width: 651px) and (max-width: 860px) {
  #filtered-articles h2 {
    max-width: 275px;
    justify-self: end;
  }
}

@media (min-width: 861px) {
  #filtered-articles h2 {
    margin-right: -100px;
  }

  #filtered-articles section {
    margin-left: 100px;
  }
}

/* ******************************** ^filtered articles*/

.loading-and-error {
  color: var(--color-primary-dark);
  font-size: 18px;
  text-align: center;
  padding: 2.5rem 0;
  font-weight: 600;
}

/* ******************************** ^loading and error*/
